<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-app2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <h1>Hola Polymer</h1>
      <button type="button" on-click="getUser">Obtener Usuarios</button>
      <h1>[[cliente]]</h1>
  </template>

  <script>
    class MyApp2 extends Polymer.Element {
      static get is() { return 'my-app2'; }

    getUser() {
      this.cliente = "Adan Soto";
    }


    }

    window.customElements.define(MyApp2.is, MyApp2);
  </script>
</dom-module>
