<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<script src="../webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="vaadin-grid.html">
<link rel="import" href="vaadin-grid-selection-column.html">
<link rel="import" href="vaadin-grid-sort-column.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">

<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">1</div>
      <h1>View One</h1>
      <p>Ut labores minimum atomorum pro. Laudem tibique ut has.</p>
      <p>Lorem ipsum dolor sit amet, per in nusquam nominavi periculis, sit elit oportere ea.Lorem ipsum dolor sit amet, per in nusquam nominavi periculis, sit elit oportere ea.Cu mei vide viris gloriatur, at populo eripuit sit.</p>
    </div>
    <div>
      <button on-click="getUsers">obten clientes</button>
    </div>
    <div>
      <template is="dom-repeat" items="{{datos.cliente}}">
      <table>
        <tr>
          <td>[[item._id]]</td>
          <td>[[item.idcliente]]</td>
          <td>[[item.nombre]]</td>
          <td>[[item.apellido]]</td>
          <td>[[item.cuenta]]</td>
          <td>[[item.listado.1.fecha]]</td>
          <td>[[item.listado.1.importe]]</td>
          <td>[[item.listado.1.tipo]]</td>
        </tr>
      </table>

      </template>
    </div>   
    <label>Nombre </label><input type="text" value="{{nombre::input}}" required/>
    <label>Apellido </label><input type="text" value="{{apellido::input}}" required/>
    <label>Cuenta </label><input type="number" value="{{cuenta::input}}" required/>
    <button on-click="createUser">Guardar cliente</button>
    <br>
    <label>_id </label><input type="text" value="{{idUP::input}}" required/>
    <label>Nombre actualizado </label><input type="text" value="{{nombreUP::input}}" />
    <label>Apellido actualizado </label><input type="text" value="{{apellidoUP::input}}" />
    <label>Cuenta actualizado </label><input type="text" value="{{cuentaUP::input}}" />
    <br>
    <button on-click="updateClient">Actualizar cliente</button>

    <br>
    <label>Cliente a Borrar </label><input type="text" value="{{iDelete::input}}" />
    <button on-click="deleteClient">Borrar cliente</button>
  </template>

  <script>    
   
    
     class MyView1 extends Polymer.Element {
      static get is() { return 'my-view1'; }
      static get properties(){
        return{
          nombre:String,
          apellido:String,
          cuenta:Number,
          idUP:String,
          nombreUP:String,
          apellidoUP:String,
          cuentaUP:Number,
          iDelete:String
        }
      }

        getUsers() {
        let request = new XMLHttpRequest();
        let url = 'http://localhost:8080/sicmapi/miAppSicm/getClients';
        request.open('GET',url,false);
        request.setRequestHeader('Accept','application/json');
        request.send();
        this.datos = JSON.parse(request.responseText);
        console.table(this.datos.cliente)
      }

      createUser() {
       let newid = Math.floor(Math.random() * 99.99);
       let newUser = {
          'idcliente':newid,
          'nombre':this.nombre,
          'apellido':this.apellido,
          'cuenta': this.cuenta
        } 

        let body = JSON.stringify(newUser);
      
        let request = new XMLHttpRequest();
        let url = 'http://localhost:8080/sicmapi/miAppSicm/createClient'
        request.open('POST',url,false);
        request.setRequestHeader('Accept','application/json');
        request.setRequestHeader('Content-Type','application/json');

        console.log(body);
        request.send(body);
        
      }

      updateClient(){
        let updateData = {
          'nombre':this.nombreUP,
          'apellido':this.apellidoUP,
          'cuenta':this.cuentaUP
        }

        let body = JSON.stringify(updateData);

        let request = new XMLHttpRequest();
        let url = `http://localhost:8080/sicmapi/miAppSicm/updateClient/${this.idUP}`
        request.open('PUT',url,false);
        request.setRequestHeader('Accept','application/json');
        request.setRequestHeader('Content-Type','application/json');

        console.log(body);
        request.send(body);

      }

      deleteClient(){
        let request = new XMLHttpRequest();
        let url = `http://localhost:8080/sicmapi/miAppSicm/deleteClient/${this.iDelete}`
        request.open('DELETE',url,false);
        request.setRequestHeader('Accept','application/json');
        request.setRequestHeader('Content-Type','application/json');

        request.send();

      }

    }

    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>
